/* .recipe-page {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.recipe-page {
    margin: 3% 6%;
}

.recipe-page .banner {
    width: 100%;
}

.recipe-page p,
.recipe-page li {
    font-size: 16px;
}

.recipe-page .section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.recipe-page .border-b {
    padding-bottom: 2em;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.recipe-page h1 {
    font-family: "Young Serif";
    font-weight: 400;
}
